<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head><title>courses list</title></head>
<body>
<script>
    //callback handler for form submit
    $(document).ready(function () {
        $("#saveCourseButton").click(function (e) {
            var postData = $("#course").serializeArray();
            var formURL = $("#course").attr("action");
            $.ajax({
                url: formURL,
                type: "POST",
                data: postData,
                success: function (data, textStatus, jqXHR) {
                    $("main").html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("main").html(textStatus);
                }
            });
        });
    });
</script>
<div class="container" id="projectCreate">
    <br/>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <form action="#" th:action="@{coursesave}" th:object="${course}" method="post" th:id="course" th:name="course">

                        <input type="hidden" th:field="*{id}"/>

                        <div id="projectContent">
                            <div class="row">
                                <div class="col s4">Course Name :</div>
                                <div class="col s8">
                                    <input type="text" th:field="*{name}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4">Course Description :</div>
                                <div class="col s8">
                                    <input type="text" th:field="*{description}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4">Course Category :</div>
                                <div class="col s8">
                                    <input type="text" th:field="*{category}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s2">Course Rank :</div>
                                <div class="col s4">
                                    <input type="text" th:field="*{rank}"/>
                                </div>
                                <div class="col s6">
                                    <p>
                                        <input type="checkbox" name="active" id="active" th:checked="*{active}">
                                        <label for="active"> Active </label>
                                    </p>
                                </div>
                            </div>
                            <input type="hidden" id="fieldCount" th:value="${#lists.size(course.fields)}"/>
                            <div th:each="field,loop : ${course.fields}">
                                <div th:id="|row${loop.index}|">
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="row">
                                                <div class="col">
                                                    <a href="#!" th:onclick="|removeField(${loop.index})|"><i
                                                            class="material-icons">remove</i></a>
                                                </div>
                                                <div class="col">
                                                    <input type="text" th:name="|fields[${loop.index}].fieldName|"
                                                           th:value="${field.fieldName}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
											<textarea class="materialize-textarea"
                                                      th:name="|fields[${loop.index}].fieldValue|" th:text="${field.fieldValue}">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#!" id="projectContentAddButton"><i
                                class="material-icons">add</i></a>
                        <div class="row">
                            <div class="col s12">
                                <input type="button" value="Save Course" class="btn"
                                       id="saveCourseButton"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#modal1').modal('close');
        $("#softdev1").click(function () {
            $("#body").load("softdev");
        });
        var count = $("#fieldCount").val();
        $("#projectContentAddButton").click(function () {
            var template = '<div id="row' + count + '"><div class="row">'
                + '<div class="col s12"><div class="col"><a href="#!" onclick="removeField(' + count + ')"><i class="material-icons">remove</i></a></div>'
                + '<div class="col"><div class="input-field"><input name="fields[' + count + '].fieldName" placeholder="Field Name"/></div></div></div></div><div class="row">'
                + '<div class="col s12"><div class="input-field"><textarea class="materialize-textarea" name="fields[' + count + '].fieldValue"></textarea></div></div>'
                + '</div>';
            $("#projectContent").append(template);
            count++;
        });
    });

    function removeField(arg) {
        $("#row" + arg).remove();
    }

    $(function () {
        $('textarea').each(function () {
            $(this).height($(this).prop('scrollHeight'));
        });
    });
</script>
</body>
</html>