<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="img/icon.ico">
    <title>Jtechy - Projects Tools Tutorials</title>
    <link href="css/icon.css" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.min.css">

    <link type="text/css" rel="stylesheet" href="css/custom.css"
          media="screen,projection"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<header>
    <head th:replace="navbar :: copy"></head>
</header>
<main>
    <div id="ajax-load" style="position: fixed; left: 45%; background-color: orange">
        &nbsp; Loading... &nbsp;
    </div>
    <div id="main-content">
        <div th:replace="dashboard.html"/>
    </div>
</main>
<footer class="page-footer bgcolor" style="margin-top: 10px;">
    <div th:replace="footer :: copy"/>
</footer>

<script type="text/javascript" src="js/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $("#ajax-load").fadeOut(500);
    });
    $(document).ajaxStart(function () {
        $("#ajax-load").fadeIn(500);
    });
    $(document).ajaxSuccess(function () {
        $(window).scrollTop(0);
        $("#ajax-load").fadeOut(500);
    });
</script>
</body>
</html>